<div class="py-10">
  <div class="container mx-auto px-4">

    <!-- Product Image & Details -->
    <div class="flex flex-wrap lg:flex-nowrap justify-center gap-10">
      
      <!-- Image Gallery -->
      <div class="flex flex-col space-y-4">
        <% if @product.images.attached? %>
          <% @product.images.each_with_index do |image, index| %>
            <%= link_to url_for(image), target: "_blank", class: "block w-full h-full", data: { action: "click->lightbox#open" } do %>
              <%= image_tag image, class: "w-auto h-64 rounded-lg transform transition duration-500 hover:scale-105" %>
            <% end %>
          <% end %>
        <% else %>
          <p class="text-center text-gray-800 dark:text-gray-300">No image available</p>
        <% end %>
      </div>

      <!-- Product Details -->
      <div class="max-w-lg">
        <h1 class="text-4xl font-bold uppercase mb-3 dark:text-white"><%= @product.name %></h1>
        <p class="text-2xl text-gray-800 dark:text-gray-200 mb-4">$<%= number_to_currency(@product.price / 100.0) %></p>
        <p class="text-md text-gray-600 dark:text-gray-400 py-8"><%= @product.description %></p>

        <!-- Sizes -->
        <div class="my-8">
          <h3 class='uppercase text-lg mb-2 dark:text-white'>Size</h3>
          <div class="flex gap-2 flex-wrap">
            <% @product.stocks.each do |stock| %>
              <% button_class = "py-2 px-4 rounded transition-colors duration-200 text-sm font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                 if stock.amount > 0 
                   button_class += " bg-gray-200 text-gray-800 hover:bg-gray-300"
                 else
                   button_class += " cursor-not-allowed bg-gray-400 text-gray-600" 
                 end
              %>
              <button <%= 'disabled' unless stock.amount > 0 %> value="<%= stock.size %>" class="<%= button_class %>">
                <%= stock.size %>
              </button>
            <% end %>
          </div>
        </div>

        <!-- Add To Cart Button -->
        <button data-action="click->products#addToCart" class="inline-flex items-center justify-center w-full px-5 py-3 text-white bg-gray-800 hover:bg-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 dark:bg-red-600 dark:hover:bg-red-700">
          Add To Cart
        </button>
      </div>

    </div>

  </div>
</div>
